{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    {{ craft.entries().section('mailings').slug('verification-ind-free').site('usersEn').one().mailing }}
    <p>Fireworks! From now on, traveling will be even more fun because you are now part of the Hi Flanders community! Welcome!</p>
    <p>
        <strong>What does this premium membership include?</strong><br>
        As a Hi Flanders member, you’ll enjoy <a style="color: #fac000;" href="https://www.hiflanders.be/en/premium"><strong>exclusive benefits, discounts </strong></a> and <a style="color: #fac000;" href="https://www.hiflanders.be/en/experiences"><strong>inspiration</strong></a> for future trips. And not just in Flanders - you can now spread your wings internationally as well! Your membership gives you automatic access to the world’s largest hostel network: Hostelling International (HI). That means peaceful nights worldwide at the best rates!<br>
        <a style="color: #fac000;" href="https://www.hiflanders.be/en/hostelling-international">Find inspiration for an international trip or city getaway here.</a>
    </p>
    <p>
        <strong>Prefer to stay closer to home? </strong><br>
        <a style="color: #fac000;" href="https://www.hiflanders.be/en/destinations">Book your stay at one of our hostels in Flanders.</a> Looking for fun activities nearby? Thanks to <a style="color: #fac000;" href="https://www.hiflanders.be/en/experiences">our Experiences page</a>, you’ll never run out of things to do!
    </p>
    <p>
        <strong>Your digital membership</strong><br>
        No physical membership card? No problem! Sign up via premium.hiflanders.be and show your membership at the hostel where you are staying.
    </p>
    <p>We hope to welcome you to one of our hostels soon!</p>
    <p style="margin-top: 30px">Warm regards,</p>
    <p><strong>The Hi Flanders Team</strong></p>
{% endblock %} 