@use "../abstracts" as *;

.sprig-component {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-error {
    width: 100%;
    max-width: $screen-l;
    display: flex;
    flex-direction: column;
    gap: 0.857rem;

    &__error {
        background-color: $clr-error-bg;
        color: $clr-error-text;
        padding: $btn-padding;
        border-radius: $br;
        font-weight: $fw-bold;

        a {
            color: $clr-error-text;
        }
    }

}

.box-container {
    width: 100%;
    max-width: $screen-l;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box {
    width: 100%;
    max-width: $screen-l;
    border-radius: $br;
    box-shadow: 0px 3px 6px 0px rgba(black, 0.16);
    overflow: hidden;

    &__heading {
        background-color: $clr-primary;
        padding: 1rem 1.5rem;
        border-radius: $br $br 0 0;

        display: flex;
        flex-direction: column;

        @include screen($screen-m) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            padding: 1rem 2rem;
        }
    }

    &__heading--column {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    &__heading--center {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: white;

        @include screen($screen-m) {
            padding: 2rem;
            gap: 4rem;
        }
    }

    &__content--total {
        gap: 2rem;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        row-gap: .75rem;
        column-gap: 0.75rem;
    }

    &__wrapper--labels {
        row-gap: 1rem;
    }

    &__wrapper--extra {
        margin-bottom: 1rem;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        grid-column: span 4;

        @include screen($screen-m){
            grid-column: span 1;
        }
    }

    &__column--2 {
        grid-column: span 4;

        @include screen($screen-m){
            grid-column: span 2;
        }
    }

    &__column--4 {
        grid-column: span 4;
    }

    &__column--total {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-top: 2rem;
        
        p {
            font-size: 1.5rem;
        }
    }

    &__column--flex-between {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__column--flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $sp-s;
    }

    &__options {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    &__options-wrapper {
        display: flex;
        flex-direction: row;
        gap: $sp-s;
    }

    &__info {
        border: 0.075rem solid transparent;
        background-color: #F7F7F7;
        padding: 1rem;
        border-radius: $br;
        font-family: $ff;
        font-size: .875rem;
        width: 100%;
        height: 100%;
        

        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__info--prim, &__info--sec, &__info--error {
        font-weight: $fw-bold;
    }

    &__info--prim {
        background-color: rgba($clr-primary, 0.2);
        border: solid 0.1rem $clr-primary;
    }

    &__info--sec {
        background-color: $clr-succes-bg;
        border: solid 0.1rem $clr-succes-text;
    }

    &__info--error {
        background-color: $clr-error-bg;
        border: solid 0.1rem $clr-error-text;
        color: $clr-error-text;
    }

    &__text p {
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    &__text a {
        color: $clr-primary;
    }

    &__text ul {
        margin-left: 1rem;
    }

    &__text li, &__text ol {
        margin-bottom: 0.75rem;
    }

    &__add {
        border: none;
        background-color: $clr-primary;
        padding: 1rem 2rem;
        border-radius: $br;
        font-size: $fs-h2;
        font-weight: $fw-bold;
        text-align: left;
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;

        &:hover {
            cursor: pointer;
            background-color: $clr-secondary;
            color: white;

            .box__icon {
                fill: white;
            }
        }
    }

    &__icon {
        height: 1rem;
        width: 1rem;
        fill: $clr-secondary;
    }

    &__icon--add {
        height: 1.25rem;
        width: 1.25rem;
    }

    &__icon--chevron {
        height: 1.4rem;
        width: 1.4rem;
        transition: all 0.2s ease-in-out;
    }

    &__membership {
        font-size: $fs-h3;
        font-weight: $fw-bold;
    }

    &__delete {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__function-btn {
        background-color: $clr-succes-bg;
        border: none;
        color: $clr-succes-text;
        padding: 0.5rem 1rem;
        border-radius: 0.35rem;
        font-weight: $fw-bold;
        line-height: 1;
        width: fit-content;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.75rem;

        border: solid 0.1rem transparent;

        grid-column: span 4;

        @include screen($screen-m){
            grid-column: span 1;
        }

        &:hover {
            border: solid 0.1rem $clr-succes-text;
            cursor: pointer;
        }
    }

    &__function-btn--delete {
        background-color: $clr-error-bg;
        color: $clr-error-text;

        &:hover {
            border: solid 0.1rem $clr-error-text;
        }
    }

    &__function-btn--save {
        background-color: $clr-primary;
        color: $clr-secondary;

        &:hover {
            background-color: $clr-secondary;
            color: $clr-primary;
            border: solid 0.1rem transparent;
        }
    }

    &__function-btn--cancel {
        background-color: $clr-secondary;
        color: $clr-primary;

        &:hover {
            background-color: $clr-primary;
            color: $clr-secondary;
            border: solid 0.1rem transparent;
        }
    }

    &__icon-option {
        height: 0.9rem;
        width: 0.9rem;
    }

    &__icon-trash {
        fill: $clr-error-text;
    }

    &__icon-edit {
        fill: $clr-succes-text;
    }

    &__text-bold{
        font-weight: $fw-bold;
    }
}

.box--small {
    max-width: 50rem;
}

.box--member, .box--total {
    .box__heading {
        border-radius: $br;
        transition: 0.1s ease border-radius;

        &:hover {
            cursor: pointer;
        }
    }
    .box__content {
        padding-block: 0;
        display: block;

        &::before, &::after {
            content: "";
            height: 2rem;
            display: block;
        }
    }
}

.box--total {
    height: fit-content;
}

.box--member-open, .box--total-open {
    .box__heading {
        border-radius: $br $br 0 0;
    }

    .box__icon--chevron {
        transform: rotate(-180deg);
    }
}

.box--delete {
    max-width: 40rem;

    .box__content {
        gap: 2rem;
    }

    .box__btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: $sp-s;
    }

    .btn {
        width: 100%;
        justify-content: center;
    }
}