@use "../abstracts" as *;

.btn {
    color: $clr-primary;
    text-decoration: none;
    font-weight: $fw-medium;
    font-size: $fs-p;
    font-family: $ff;

    line-height: 1;

    background-color: $clr-secondary;
    padding: $btn-padding;
    border-radius: $br;
    display: block;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
    &__chevron {
        fill: $clr-primary;
        height: 1rem;
        width: 1rem;
    }

    &__close {
        fill: $clr-primary;
        height: 1rem;
        width: 1rem;
    }

    &__close-modal {
        position: absolute;
        right: 0;
        top: 0;
    }

    &__icon {
        height: 0.85rem;
    }

    @include screen($screen-l){
        &:hover {
            background-color: $clr-primary;
            color: $clr-secondary;
            cursor: pointer;
    
            .btn__chevron {
                fill: $clr-secondary;
            }
        }
    }
}



.btn--prim {
    color: $clr-secondary;
    background-color: $clr-primary;

    @include screen($screen-l){
        &:hover {
            background-color: $clr-secondary;
            color: $clr-primary;

            .btn__chevron {
                fill: $clr-primary;
            }
        }
    }

    .btn__chevron {
        fill: $clr-secondary;
    }
}

.btn--red, .btn--green {
    gap: 0.5rem;
    border: solid 0.1rem transparent;
}

.btn--red {
    color: $clr-error-text;
    background-color: $clr-error-bg;

    @include screen($screen-l){
        &:hover {
            background-color: $clr-error-bg;
            color: $clr-error-text;
            border: solid $clr-error-text 0.1rem;
        }
    }

    .btn__icon {
        fill: $clr-error-text;
    }
}

.btn--green {
    color: $clr-succes-text;
    background-color: $clr-succes-bg;

    @include screen($screen-l){
        &:hover {
            background-color: $clr-succes-bg;
            color: $clr-succes-text;
            border: solid $clr-succes-text 0.1rem;
        }
    }

    .btn__icon {
        fill: $clr-succes-text;
    }
}

.btn--square {
    height: 100%;
}

.btn--round {
    border-radius: 10rem;
    justify-content: center;
    padding: $btn-padding;
    width: fit-content;
}