@use "../abstracts" as *;

.edit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 0.75rem;

    input, select {
        border-radius: $br;
        padding: 1rem;
        border: solid $clr-primary 0.075rem;
    }

    &__label {
        margin-bottom: 0.5rem;
        display: block;
    }

    &__column {
        grid-column: span 4;
    
        @include screen($screen-m) {
            grid-column: auto;
        }
    }
    
    &__column--2 {
        grid-column: span 4;

        @include screen($screen-m) {
            grid-column: span 2;
        }
    }

    &__column--1-4 {
        grid-column: span 4;

        @include screen($screen-m) {
            grid-column: auto;
        }
    }
}

.box--settings {
    input, select {
        border-radius: $br;
        padding: 1rem;
        border: solid $clr-primary 0.075rem;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: $sp-s;
    }

    .box__delete-img {
        display: block;
    }
}