@use "../abstracts" as *;

.extra-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    height: 100%;
    width: 100%;
    overflow: hidden;
    backdrop-filter: blur(8px); 

    display: flex;
    align-items: center;
    justify-content: center;
}