@use "../abstracts" as *;

.formbox {
    width: 100%;
    max-width: 42.5rem;
    border-radius: $br;
    box-shadow: 0px 3px 6px 0px rgba(black, 0.16);
    overflow: hidden;

    &__form, &__formie {
        padding: 1.5rem 1rem;
        padding-bottom: $sp-s;

        @include screen($screen-m) {
            padding: 2rem;
            padding-bottom: $sp-s;
        }
    }

    &__form {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: .75rem;
        background-color: white;
    }

    &__form--no-options {
        @include screen($screen-m) {
            padding-bottom: 2rem;
        }
    }

    &__label {
        display: none;
    }

    &__heading {
        background-color: $clr-primary;
        padding: 1rem 1.25rem;
        border-radius: $br $br 0 0;

        @include screen($screen-m) {
            padding: 1rem 2rem;
        }
    }

    &__column {
        grid-column: span 2;
    }

    &__column--full {
        grid-column: span 4;
        position: relative;
    }

    &__column--1-4 {
        grid-column: span 1;
    }

    &__button {
        border: none;
        background-color: $clr-primary;
        color: $clr-secondary;
        padding: $btn-padding;
        border-radius: 5rem;
        font-family: $ff;
        font-size: $fs-p;
        font-weight: $fw-medium;
        transition: all 0.1s ease-in-out;

        &:hover {
            background-color: $clr-secondary;
            color: $clr-primary;
            cursor: pointer;
        }
    }

    &__button--sec {
        background-color: $clr-secondary;
        color: white;
        text-decoration: none;
        width: 100%;
        text-align: center;
        display: block;
    }

    &__button--last {
        margin-bottom: 1.125rem;
    }

    &__link {
        color: $clr-primary;
        text-decoration: none;
        transition: text-decoration 0.1s ease-in-out;

        &--small {
            font-size: .875rem;

            @include screen($screen-m) {
                align-self: flex-end;
            }
        }

        &:hover {
            text-decoration: underline;
        }
    }

    &__checkbox {
        font-size: .875rem;
    }

    &__error {
        background-color: $clr-error-bg;
        color: $clr-error-text;
        border-radius: $br;
        padding: 1rem 2rem;

        ul {
            list-style: none;
        }
    }

    &__error-text {
        color: $clr-error-text;

        ul {
            list-style: none;
            margin-left: 0.75rem;
            margin-bottom: 0.5rem;
        }
    }

    
    &__see-pass-icon {
        height: 1.15rem;
        fill: $clr-secondary;

        &:hover {
            fill: $clr-primary;
        }
    }

    .show-eye {
        fill: $clr-primary;
    }

    &__see-pass {
        height: fit-content;
        width: fit-content;
        background-color: transparent;
        border: none;
        position: absolute;
        right: 1.5rem;
        top: calc(50% - (1.15rem/2));

        &:hover {
            cursor: pointer;
        }
    }

    &__options {
        padding: 0 1.5rem 1rem 1.5rem;

        display: flex;
        flex-direction: column;
        gap: $sp-s;

        @include screen($screen-m) {
            padding: 0 2rem 2rem 2rem;
        }
    }

    &__password {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.25rem;
    }

    &__or {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin: 0 5%;
        text-transform: uppercase;

        &::before, &::after {
            content: "";
            height: 0.1rem;
            width: 45%;
            position: relative;
            background-color: $clr-primary;
            display: block;
        }
    }

    &__password-options {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
        padding: 0.4rem 0.75rem 0 0.75rem;

        @include screen($screen-m) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            gap: 0;
        }
    }

    &__column--pp {
        padding: 0 0.5rem;

        input {
            margin-top: 0.25rem;
        }

        label {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 0.25rem;
        }
    }

    &__column--error {
        input {
            background-color: $clr-error-bg;
            border: solid 0.075rem $clr-error-text;
        }
    }
}

.formbox--wider {
    width: 100%;
    max-width: $screen-l;
}

.formbox--member-open {
    .box__add {
        border-radius: $br $br 0 0;
    }
}

.formbox--member {

    .formbox__form {
        padding-block: 0;

        &::before, &::after {
            content: "";
            height: 1rem;
            width: 100%;
            grid-column: span 4;
            display: block;
        }
    }

}

.form-delete--full {
    height: 100%;
}

.formbox--padding-b {
    .formbox__formie {
        padding-bottom: 2rem;
    }
}