@use "../abstracts" as *;

.international {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: $screen-xxl;
    // border: solid $clr-primary 0.1rem;
    border-radius: $br;
    padding: $sp-s;
    margin-bottom: -1rem;
    text-align: left;
    
    @include screen($screen-s) {
        flex-wrap: wrap;
    }

    &__icon {
        width: 4rem;
        height: auto;
    }
}

.international--icon {
    width: 100%;
    display: flex;
    justify-content: center;

    .international__icon {
        width: 8rem;
    }
}