@use "../abstracts" as *;

.logout {
    background-color: $clr-secondary;
    color: $clr-primary;
    padding: 1rem 2rem;
    border-radius: $br;
    text-decoration: none;
    font-weight: $fw-bold;

    position: absolute;
    right: 4rem;
    top: 4rem;

    &:hover {
        background-color: $clr-primary;
        color: $clr-secondary;
    }
}