@use "../abstracts" as *;

.modal {
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    backdrop-filter: blur(8px); 

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &__content {
        padding: 4rem 2rem;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.modal__content--center {
    height: 100%;
}