@use "../abstracts" as *;

.table {

    &__options {
        margin-bottom: 1rem;
    }

    &__search {
        max-width: 100%;
        background-color: white;
        border-radius: 0;
        padding-left: 0;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        border-radius: $br $br 0 0;

        thead {
            color: $clr-secondary;
            background-color: $clr-primary;
        }

        thead th:first-child {
            border-top-left-radius: $br;
            padding-left: 2rem;
        }
        
        thead th:last-child {
            border-top-right-radius: $br;
            padding-right: 2rem;
        }

        thead th {
            padding: 1rem 1rem;
        }

        td {
            padding: 0.75rem 1rem;
        }

        tbody tr:nth-child(odd){
            background-color: rgba($clr-secondary, 0.03);
        }

        tbody td:first-child {
            padding-left: 2rem;
        }

        tbody td:last-child {
            padding-left: 2rem;
        }

        tbody tr:last-child td:first-child {
            border-bottom-left-radius: $br;
        }

        tbody tr:last-child td:last-child {
            border-bottom-right-radius: $br;
        }
    }

    &__icon-search {
        height: 1.25rem;
        width: 1.25rem;
        fill: $clr-primary;
    }

    &__option-search {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        border-radius: $br;
        border: solid $clr-primary 0.1rem;
        padding-left: 1rem;
        overflow: hidden;
    }
}