@use "../abstracts" as *;

.table {
    min-height: 50vh;

    &__options {
        width: 100%;
        margin-bottom: 1rem;

        display: flex;
        flex-direction: row;
        gap: 0.5rem;
    }

    &__download-icon {
        width: 1rem;
        height: fit-content;
        fill: $clr-secondary;
    }

    &__download {
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: $br;
        border: none;
        background-color: $clr-primary;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        

        &:hover {
            cursor: pointer;
            background-color: $clr-secondary;
            color: $clr-primary;
            
            .table__download-icon {
                fill: $clr-primary;
            }
        }
    }

    .tooltiptext {
        position: absolute;
        top: -2rem;
        padding: 0.25rem 0.5rem;
        background-color: #F7F7F7;
        border-radius: 0.25rem;
        display: none;
        width: fit-content;
    }

    &__search {
        max-width: 100%;
        background-color: white;
        border-radius: 0;
        padding-left: 0;

        &:focus {
            outline: none;
            box-shadow: none;
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        text-align: left;
        border-radius: $br;
        overflow: hidden;
        border-collapse: collapse;

        .row--disabled {
            opacity: 0.5;
        }
        
        thead {
            color: $clr-secondary;
            background-color: $clr-primary;
            border-radius: $br;
        }

        tr {
            margin-bottom: 4rem;

            .table__status--disabled {
                background-color: $clr-tertiary--darker;
                color: $clr-secondary;
            }
        }

        thead th:first-child {
            border-top-left-radius: $br;
            padding-left: 2rem;
        }
        
        thead th:last-child {
            border-top-right-radius: $br;
            padding-right: 2rem;
        }

        thead th {
            padding: 1.25rem 1rem;
        }

        td {
            padding: 1rem 1rem;
        }

        tbody tr:nth-child(even){
            background-color: rgba($clr-secondary, 0.03);

            .table__status--disabled {
                background-color: $clr-tertiary;
            }
        }

        tbody td:first-child {
            padding-left: 2rem;
        }

        tbody td:last-child {
            padding-right: 2rem;
        }

        tbody tr:last-child td:first-child {
            border-bottom-left-radius: $br;
        }

        tbody tr:last-child td:last-child {
            border-bottom-right-radius: $br;
        }
    }

    &__icon-search {
        height: 1.25rem;
        width: 1.25rem;
        fill: $clr-primary;
    }

    &__option-search {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        border-radius: $br;
        border: solid $clr-primary 0.1rem;
        padding-left: 1rem;
        overflow: hidden;
        grid-column: span 4;
    }

    &__status {
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        &--false {
            background-color: $clr-error-bg;
            color:  $clr-error-text;
        }

        &--true {
            background-color: $clr-succes-bg;
            color: $clr-succes-text;
        }
    }

    &__status-icon {
        height: 1rem;
        width: 1rem;

        &--false {
            fill: $clr-error-text;
        }

        &--true {
            fill: $clr-succes-text;
        }
    }

    &__more {
        border: none;
        font-family: $ff;
        font-size: $fs-p;
        background-color: transparent;
        padding: 0;
        text-decoration: underline;

        &:hover {
            color: $clr-primary;
            cursor: pointer;
        }
    }
}