<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light only">
        <title>Nieuwe print aanvraag.</title>
        <style>
            a {
                color: #FFCC22;
            }
            .button {
                background-color: #FFCC22;
                color: #102438;
                padding: 14px 26.4px;
                font-weight: bold;
                border-radius: 160px;
                text-decoration: none;
            }
        </style>
    </head>
    <body style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #102438; margin: 0; background-color: #FFCC22; height: 100%; padding: 50px;">
        <div class="container" style=" max-width: 704px; margin: 20px auto; background: #fff; border-radius: 10px; box-shadow: 0px 3px 6px 0px rgba(black, 0.16); display: flex; flex-direction: column; align-items: center;">
            <div class="header" style="color: #102438; text-align: center; width: 95%; padding: 50px 10px 0px 10px; max-width: 585px">
                <div style="width: 200px;">
                    <img src="https://hiflandres.staging.liveavirgin.be//uploads/branding/Logo.svg" alt="logo hi flanders">
                </div>
            </div>
            <div class="content" style="padding: 20px 10px 50px 10px; width: 95%; max-width: 585px">
                <p>Er is een nieuwe print aanvraag van {{ name }},</p>
                <p>{{ id }}</p>
                <p>{{ street }} {{ nr }} {{ bus }}, {{ postalCode }} {{ city }} {{ country }}</p>
            </div>
        </div>
    </body>
</html>
