<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://use.typekit.net/dgq7cxw.css">
    <link rel="stylesheet" href="{{ craft.app.sites.primarySite.baseUrl }}dist/assets/app-Cru9k6oI.css">
</head>
<body>
    <header class="header">
        {% include "components/language-switcher.twig" %}
        {% if currentUser %}
            <a class="btn" href="{{ logoutUrl }}">Logout</a>
        {% endif %}
    </header>
    <main class="center">
        {% block content %}{% endblock %}
    </main>
    {# {{ craft.vite.script("src/scripts/main.js") }}  #}
    <script src="{{ craft.app.sites.primarySite.baseUrl }}dist/assets/app-DNOELytI.js"></script></body>
</html>