@use "../abstracts" as *;

.header {
    width: 100%;
    padding: 1rem 1.5rem;
    height: 5.15rem;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0px 3px 6px 0px rgba($clr-secondary, 0.1);
    border-bottom: solid 0.45rem $clr-primary;

    @include screen($screen-s){
        padding: 1rem 2rem;
        height: 6rem;
    }

    &__container {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        max-width: $screen-xxl;
    }

    &__logo {
        width: 8rem;
        height: fit-content;

        @include screen($screen-s) {
            width: 11.25rem;
        }
    }

    &__options {
        position: fixed;
        top: 0;
        right: -60vw;
        z-index: 1;

        background-color: $clr-primary;
        height: 100vh;
        width: 60vw;
        padding: 5rem 1rem 1rem 1rem;

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        transition: all 0.2s ease-in-out;

        @include screen($screen-s) {
            flex-direction: row;
            width: fit-content;
            height: fit-content;
            gap: 1rem;
            position: relative;
            right: 0;
            background-color: transparent;
            padding: 0;

        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 0.525rem;

        position: fixed;
        top: 1.5rem;
        right: 1.5rem;
        z-index: 10;

        @include screen($screen-s) {
            display: none;
        }
    }

    &__menu-bar {
        height: 0.175rem;
        width: 2rem;
        border-radius: 1rem;
        background-color: $clr-primary;

        transform-origin: left;
    }

    &__menu--open {
        .header__menu-bar {
            background-color: $clr-tertiary;
        }

        .header__menu-bar--top {
            rotate: 45deg;
        }

        .header__menu-bar--center {
            opacity: 0;
        }

        .header__menu-bar--bottom {
            rotate: -45deg;
        }
    }

    &__options--open {
        right: 0;
    }

    &__options-closed {
        right: -50vw;
    }


    .btn--prim {
        background-color: $clr-secondary;
        color: $clr-primary;
        font-size: 1rem;

        .btn__chevron {
            fill: $clr-primary;
        }

        @include screen ($screen-s) {
            background-color: $clr-primary;
            color: $clr-secondary;
            font-size: $fs-p;

            
            .btn__chevron {
                fill: $clr-secondary;
            }
            
            &:hover {
                background-color: $clr-secondary;
                color: $clr-primary;

                .btn__chevron {
                fill: $clr-primary;
            }
            }
        }
    }

    .btn--prim-selected {

        @include screen ($screen-s) {
            background-color: $clr-secondary;
            color: $clr-primary;
            font-size: $fs-p;
        }
    }

    .logout {
        margin-left: 1.75rem;
    }
}