// Colors 
$clr-primary: #FFCC22;
$clr-secondary: #102438;
$clr-tertiary: white; 
$clr-tertiary--darker: #F7F7F7; 
$clr-error-text: #E74C3C;
$clr-error-bg: rgba($clr-error-text, 0.09);
$clr-succes-text: #28A745; 
$clr-succes-bg: rgba($clr-succes-text, 0.09);
$clr-mid-text: #17A2B8; 
$clr-mid-bg: rgba($clr-mid-text, 0.09);


// Border Radius
$br: .625rem;

// Font Families  
$ff: "filson-pro", sans-serif;

// Font Weights 
$fw-regular: 400;
$fw-medium: 500; 
$fw-bold: 700;

// Font Sizes 
$fs-p: .875rem;
$fs-p--mobile: .875rem;;
$fs-h1: 1.75rem;
$fs-h1--mobile: 1.5rem;
$fs-h2: 1.5rem;
$fs-h2--mobile: 1.25rem;
$fs-h3: 1.25rem;
$fs-h3--mobile: 1.125rem;

$fs-btn: .875rem;
$fs-btn--mobile: .875rem; 

// Breakpoints screen 
$screen-xs: 480px; // mobile portrait
$screen-s: 768px; // tablet portrait
$screen-m: 1024px; // tablet landscape 
$screen-l: 1280px; // small desktop 
$screen-xl: 1440px; //large desktop 
$screen-xxl: 1600px; // extra large desktop

// Spacing 
$spacing: 4rem;
$sp-s: 0.875rem;
$btn-padding: .875rem 1.65rem;