{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p style="margin-bottom: 30px">Last week, we invited you to bring your membership back to life by registering online. Maybe it slipped your mind, but it’s not too late. Just one click opens the door to unforgettable moments and adventures – at home and abroad.</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">I want that membership</a>
    <p style="margin-top: 40px">Still unsure if it’s worth it? Here’s why Hi Flanders Premium is a smart choice:</p>
    <ul>
        <li>Premium comfort for a low price</li>
        <li><a style="color: #fac000;" href="https://www.hiflanders.be/en/premium"><strong>Always 10% off</strong></a> our already affordable stays</li>
        <li>Great inspiration via our <a style="color: #fac000;" href="https://www.hiflanders.be/en/experiences"><strong>Experiences page</strong></a></li>
        <li>Automatic membership with  <a style="color: #fac000;" href="https://www.hiflanders.be/en/hostelling-international"><strong>Hostelling International</strong></a></li>
        <li>Digital ease: simple login, and soon a handy mobile app</li>
    </u>
    <p><strong>Cost</strong></p>
    <ul>
        <li>Under 30? Free</li>
        <li>From 31? € 10 per year – easily earned back through discounts</li>
    </ul>
    <p>Need help? Email us at <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> or call <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> during office hours.</p>
    <p style="margin-top: 30px">See you soon,</p>
    <p>The Hi Flanders Team</p>
{% endblock %}