{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p>Last week, we asked you to activate your digital membership by setting a password. Maybe it slipped your mind – but it’s not too late to rejoin as a <strong>Premium member</strong>. Activate now with just one click:</p>
    <p style="margin-bottom: 30px">Activate now with just one click:</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Set my password</a>
    <p style="margin-top: 40px">Here’s a reminder of the benefits:</p>
    <ul>
        <li><a style="color: #fac000;" href="https://www.hiflanders.be/en/premium">Exclusive deals, discounts,</a> and <a style="color: #fac000;" href="https://www.hiflanders.be/en/experiences">travel inspiration</a></li>
        <li>You control how often we reach out</li>
        <li>No cards or paperwork – everything is digital</li>
        <li>Your data is handled safely and  <a style="color: #fac000;" href="www.hiflanders.be/en/privacy-policy">confidentially</a></li>
    </u>
    <p>Need help? Email us at <a style="color: #fac000;" href="mailto:premium@hiflanders.be">premium@hiflanders.be</a> or call <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> during office hours.</p>
    <p style="margin-top: 30px">See you soon,</p>
    <p>The Hi Flanders Team</p>
{% endblock %}