{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p>Last week, we invited you to reactivate your membership by registering digitally. This way, you can immediately start enjoying all the perks of Hi Flanders Premium. Maybe it slipped your mind, but no worries—it’s not too late!</p>
    <p style="margin-bottom: 30px">With just one click, you unlock unforgettable moments and amazing adventures in Belgium and beyond:</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Sign me up for my membership!</a>
    <p style="margin-top: 40px">Still unsure if membership is worth it? It absolutely is! Hi Flanders Premium means:</p>
    <ul>
        <li>Premium comfort at the best price</li>
        <li><a style="color: #fac000;" href="https://www.hiflanders.be/en/premium"><strong>Always 10% off</strong></a> on top of our already low prices</li>
        <li>Valuable inspiration for future trips on our <a style="color: #fac000;" href="https://www.hiflanders.be/en/experiences"><strong>Experiences page</strong></a></li>
        <li>Automatic membership with  <a style="color: #fac000;" href="https://www.hiflanders.be/en/hostelling-international"><strong>Hostelling International</strong></a>, saving you money on hostels worldwide</li>
        <li><strong>Digital convenience—</strong> easy login on our website, and soon even with the Hi Flanders app!</li>
    </u>
    <p><strong>How much does it cost?</strong></p>
    <ul>
        <li>30 years old or younger? Your membership is free!</li>
        <li>31 and up? Just €10 per year—which you’ll easily earn back with 10% off all your bookings.</li>
    </ul>
    <p><strong>Need help?</strong></p>
    <p>Do you have any questions or trouble renewing your membership? Feel free to contact us at <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> or call <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> during office hours. We’re happy to assist!</p>
    <p style="margin-top: 30px">Warm regards,</p>
    <p>The Hi Flanders Team</p>
{% endblock %}