{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p style="margin-bottom: 30px">Goed nieuws: je premium lidmaatschap is bijna in orde. Het laatste wat je nog moet doen, is onze betalingslink volgen. Voor slechts € 10 euro kan je een jaar lang genieten van alle voordelen bij Hi Flanders:</p>
    <a style="color: #102438;" class="button" href="{{ url }}">Naar de betaalpagina</a>
    <p style="margin-top: 40px"><u><strong>Opgelet:</strong> Breng dit binnen 7 dagen in orde om zeker te zijn dat de toegang tot je account niet verloopt.</u></p>
    <p>Wanneer de betaling in orde is, kan je alle voordelen als Hi Flanders-lid eenvoudig online ontdekken: <a style="color: #fac000;" href="https://www.hiflanders.be/nl/premium">exclusieve voordelen, kortingen</a> en <a style="color: #fac000;" href="https://www.hiflanders.be/nl/belevingen">inspiratie</a> om er elke keer opnieuw een geweldige vakantie van te maken!</p>
    <p>Heb je vragen of ondervind je problemen met de betaling? Neem dan gerust contact met ons op. We helpen je graag verder. Mail naar <a style="color: #fac000;" href="mailto:premium@hiflanders.be">premium@hiflanders.be</a> of bel <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> tijdens de kantooruren.</p>
    <p style="margin-top: 30px">Warme groet,</p>
    <p>Het Hi Flanders-team</p>
{% endblock %}