{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p>Het is even geleden dat je nog actief lid was bij Vlaamse Jeugdherbergen. Intussen zijn we niet stil blijven zitten: we heten nu Hi Flanders, lanceerden een gloednieuwe website en zijn helemaal mee met het digitale verhaal. En weet je wat? Jij kan nog altijd instappen. Er is zeker een plekje voor jou op onze reis!</p>
    <p>Als je je lidmaatschap nu vernieuwt, word je Premium member én heb je bij je volgende boeking <strong>meteen recht op 10% korting</strong>, en dat zowel in binnen- als buitenland.</p>
    <p style="margin-bottom: 30px"><strong>Wat moet je doen?</strong> Simpel: klik op onderstaande knop en registreer je online in enkele klikken:</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Ik vernieuw mijn lidmaatschap</a>
    <p style="margin-top: 40px">
        → Vanaf nu heb je toegang tot <a style="color: #fac000;" href="https://www.hiflanders.be/nl/premium">exclusieve voordelen, kortingen</a> en <a style="color: #fac000;" href="https://www.hiflanders.be/nl/belevingen">inspiratie</a> voor verblijven bij Hi Flanders én via <a style="color: #fac000;" href="https://www.hiflanders.be/nl/hostelling-international">Hostelling International</a><br>
        → Je hoeft geen paperassen of lidkaart meer bij te houden, alles wordt online geregeld<br>
        → Bang voor spam? Hoeft niet! Jij houdt de controle en kiest hoe vaak je van ons wil horen. En uiteraard behandelen we jouw gegevens vertrouwelijk en veilig, volgens de geldende privacywetgeving. Bekijk onze <a style="color: #fac000;" href="www.hiflanders.be/nl/privacy-policy">privacy policy</a> voor meer info.
    </p>
    <p><strong>Wat kost dat?</strong></p>
    <ul>
        <li>Ben je 30 jaar of jonger? Je lidmaatschap is gratis!</li>
        <li>Vanaf 31 jaar: € 10 per jaar. Maar dat verdien je dubbel en dik terug dankzij de korting van 10% op al je boekingen.</li>
    </ul>
    <p>Heb je vragen of ondervind je problemen online? Dan helpen we je graag verder. Mail naar <a style="color: #fac000;" href="mailto:premium@hiflanders.be">premium@hiflanders.be</a> of bel <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> tijdens de kantooruren.</p>
    <p style="margin-top: 30px">Warme groet,</p>
    <p>Het Hi Flanders-team</p>
{% endblock %}