{% extends "email/base.twig" %}

{% block content %}
    {% set subject = 'Welkom bij Hi Flanders! Activeer meteen je lidmaatschap' %}

    <p>Hi {{ name }},</p>
    <p>Welkom bij Hi Flanders! Een medewerker van het hostel waar je verblijft, heeft jou toegevoegd aan onze community.</p>
    <p style="margin-bottom: 30px">Met deze mail bevestigen we jouw lidmaatschap. Het enige wat je nog moet doen, is een wachtwoord kiezen om je lidmaatschap te activeren. Klik op de knop hieronder om verder te gaan:</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Kies een wachtwoord</a>
    <p style="margin-top: 40px">Activeer dit binnen 7 dagen om zeker te zijn van toegang tot je account.</p>
    <p><u>Extra info:</u></p>
    <ul>
        <li><strong>Waarom moet ik dit doen?</strong> We hebben deze bevestiging nodig om je registratie als lid te vervolledigen. Zo wordt je toekomstige ervaring bij Hi Flanders een pak gebruiksvriendelijker.</li>
        <li>Als lid van Hi Flanders geniet je van <a style="color: #fac000;" href="https://www.hiflanders.be/nl/premium">exclusieve voordelen</a>, kortingen en <a style="color: #fac000;" href="https://www.hiflanders.be/nl/belevingen">inspiratie</a> voor toekomstige verblijven. Maar we gaan je niet om de haverklap bestoken met mails. <strong>Jij houdt de controle</strong> en kiest hoe vaak je van ons wil horen.</li>
        <li>We behandelen jouw gegevens uiteraard <strong>vertrouwelijk en veilig</strong>, volgens de geldende privacywetgeving. Bekijk onze <a style="color: #fac000;" href="https://www.hiflanders.be/nl/privacy-policy">privacy policy</a> voor meer info.</li>
    </ul>
    <p>Heb je vragen of lukt het niet om je lidmaatschap te activeren? Neem dan gerust contact met ons op. We helpen je graag verder. Mail naar <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> of bel <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> tijdens de kantooruren.</p>
    <p>Geniet van je verblijf en hopelijk tot ziens in een van onze hostels!</p>
    <p style="margin-top: 30px">Gastvrije groet,</p>
    <p><strong>Het Hi Flanders-team</strong></p>
{% endblock %}