{% extends "email/base.twig" %}
{% block content %}
    <p>Hallo {{ name }},</p>
    <p>Sommige van jullie ontvingen onlangs een mail waarin stond dat je Hi Flanders-lidmaatschap gedeactiveerd werd. Dat was niet de bedoeling; sorry daarvoor!</p>
    <p>Je wilde je lidmaatschap net vernieuwen, en dat appreciëren we enorm. Goed nieuws: het probleem is opgelost, en je kunt je registratie nu wél gewoon afronden</p>
    <p style="margin-bottom: 30px">Klik op de knop hieronder en volg de stappen om je lidmaatschap te heractiveren.</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Ik vernieuw mijn lidmaatschap</a>
    <p style="margin-top: 40px">We kijken ernaar uit om je te verwelkomen in onze Hi Flanders-hostels. Bedankt voor je enthousiasme en je geduld!</p>
    <p>We kijken ernaar uit om je te verwelkomen in onze Hi Flanders-hostels. Bedankt voor je enthousiasme en je geduld!</p>
    <p style="margin-top: 30px">Tot snel!</p>
    <p>Het Hi Flanders-team</p>
{% endblock %}