{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p style="margin-bottom: 30px">We vertelden je reeds dat Hi Flanders de digitale (lid)kaart kiest. Met dit mailtje vragen we jou een wachtwoord in te stellen om je digitale lidmaatschap te activeren en voortaan met 1 klik te kunnen inloggen:</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Ik stel mijn wachtwoord in</a>
    <p style="margin-top: 40px">Hier de voordelen van een online lidmaatschap nog eens op een rijtje:</p>
    <ul>
        <li>Je toekomstige ervaring bij Hi Flanders wordt een pak gebruiksvriendelijker</li>
        <li>Je bent altijd direct op de hoogte van onze acties, events en exclusieve ledenvoordelen – binnenkort zelfs via de Hi Flanders-app!</li>
        <li>Geen paperassen of lidkaart meer bijhouden, alles wordt online geregeld</li>
    </u>
    <p>Bang voor spam? Hoeft niet! Jij houdt de controle en kiest hoe vaak je van ons wil horen. En uiteraard behandelen we jouw gegevens vertrouwelijk en veilig, volgens de geldende privacywetgeving. Bekijk onze <a style="color: #fac000;" href="www.hiflanders.be/nl/privacy-policy">privacy policy</a> voor meer info.</p>
    <p>Tot binnenkort in een van onze hostels?</p>
    <p style="margin-top: 30px">Warme groet & graag tot binnekort,</p>
    <p>Het Hi Flanders-team</p>
{% endblock %}