{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p>Bedankt voor je betaling! Hierbij bevestigen wij dat het openstaande bedrag succesvol is voldaan. Deze mail geldt als betalingsbewijs.</p>
    <p><strong>Details van je betaling:</strong></p>
    <ul>
        <li>Betaald bedrag: €{{ total }}</li>
        <li>Datum van betaling: {{ date }}</li>
    </ul>
    <p style="margin-top: 30px">Met vriendelijke groet,</p>
    <p><strong>Het Hi Flanders-team</strong></p>
{% endblock %}