{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p>De activering van je lidmaatschap is geslaagd! Vanaf nu wordt reizen met je groep extra gezellig en voordelig, want jullie zijn nu officieel deel van onze Hi Flanders-community. Welkom!</p>
    <p>
        <strong>Het lidmaatschap als groep biedt heel wat voordelen:</strong><br>
        Als lid van Hi Flanders genieten jullie van <a style="color: #fac000;" href="https://www.hiflanders.be/nl/premium"><strong>exclusieve kortingen</strong></a> en <a style="color: #fac000;" href="https://www.hiflanders.be/nl/belevingen"><strong>inspiratie</strong></a> voor toekomstige verblijven.<br>
        En niet alleen in Vlaanderen, ook internationaal bespaar je op hostelverblijven. Want jullie zijn nu automatisch ook lid van het grootste hostelnetwerk ter wereld: <strong>Hostelling International</strong> of HI. Zo slapen jullie wereldwijd op beide oren aan het meest voordelige tarief. <a style="color: #fac000;" href="https://www.hiflanders.be/nl/hostelling-international">Vind hier inspiratie voor een <strong>internationale reis of ciytrip</strong>.</a>
    </p>
    <p>Liever logeren dichtbij huis? <a style="color: #fac000;" href="https://www.hiflanders.be/nl/bestemmingen">Boek hier je verblijf in een Hi Flanders hostel.</a> Eerst inspiratie opdoen voor activiteiten in de buurt van onze hostels? <a style="color: #fac000;" href="https://www.hiflanders.be/nl/belevingen">Dankzij de belevingspagina heb je geen excuus meer om je te vervelen.</a></p>
    <p>Hopelijk tot binnenkort in een van onze hostels!</p>
    <p style="margin-top: 30px">Zonnige groeten,</p>
    <p>Het Hi Flanders-team</p>
    <p style="margin-top: 30px">PS: Inspiratie nodig voor activiteiten bij je huidige of een volgende trip? Ontdek onze <a style="color: #fac000;" href="https://www.hiflanders.be/nl/belevingen">belevingspagina</a>. Meteen een volgend verblijf boeken? <a style="color: #fac000;" href="https://www.hiflanders.be/nl/bestemmingen">Maak hier je keuze uit onze hostels.</a></p>
{% endblock %}