{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    {{ craft.entries().section('mailings').slug('verification-ind-payed').site('default').one().mailing }}
{% endblock %} 