{% extends "email/base.twig" %}

{% block content %}
    <p>Hi {{ name }},</p>
    <p>Vuurwerk! Vanaf nu wordt reizen een feestje, want jij behoort nu ook tot onze Hi Flanders-community! Welkom!</p>
    <p><strong>Wat houdt dit premium lidmaatschap in?</strong></p>
    <p>
        als lid van Hi Flanders geniet je van <a href="https://www.hiflanders.be/nl/premium"><strong>exclusieve voordelen, kortingen</strong></a> en <a href="https://www.hiflanders.be/nl/belevingen"><strong>inspiratie</strong></a> voor toekomstige verblijven. En niet alleen in Vlaanderen, ook internationaal bespaar je op verblijven. Want je bent nu automatisch ook lid van het grootste hostelnetwerk ter wereld: Hostelling International of HI. Zo slaap je wereldwijd op beide oren aan het meest voordelige tarief.<br>
        <a href="https://www.hiflanders.be/nl/hostelling-international">Vind hier inspiratie voor een internationale reis of ciytrip.</a>
    </p>
    <p>
        <strong>Liever logeren dichtbij huis? </strong><br>
        <a href="https://www.hiflanders.be/nl/bestemmingen">Boek hier je verblijf in een Hi Flanders hostel.</a> Eerst inspiratie opdoen voor activiteiten in de buurt van onze hostels? <a href="https://www.hiflanders.be/nl/belevingen">Dankzij de belevingspagina heb je geen excuus meer om je te vervelen.</a>
    </p>
    <p>
        <strong>Jouw digitale lidmaatschap</strong><br>
        Geen fysieke lidkaart? Geen probleem! Meld je aan via premium.hiflanders.be en toon je lidmaatschap zo aan in het hostel waar je verblijft. 
    </p>
    <p>Hopelijk tot binnenkort in een van onze hostels!</p>
    <p style="margin-top: 30px">Zonnige groeten,</p>
    <p>Het Hi Flanders-team</p>
    <p style="margin-top: 30px">PS: Inspiratie nodig voor activiteiten bij je huidige of een volgende trip? Ontdek onze <a href="https://www.hiflanders.be/nl/belevingen">belevingspagina</a>. Meteen een volgend verblijf boeken? <a href="https://www.hiflanders.be/nl/bestemmingen">Maak hier je keuze uit onze hostels.</a></p>
{% endblock %} 