{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour {{ name }},</p>
    <p>Hourra ! Voyager en groupe devient encore plus convivial et avantageux, car vous faites désormais officiellement partie de la communauté Hi Flanders. Bienvenue !</p>
    <p><strong>L’adhésion est gratuite, mais cela ne veut pas dire qu’elle offre moins d’avantages :</strong></p>
    <p>
        En tant que membres de Hi Flanders, vous bénéficiez de <a style="color: #fac000;" href="https://www.hiflanders.be/fr/premium"><strong>réductions exclusives</strong></a> et <a style="color: #fac000;" href="https://www.hiflanders.be/fr/experiences"><strong>d’inspiration</strong></a> pour vos futurs séjours.<br>
        Et pas seulement en Flandre ! Vous pouvez également économiser sur vos séjours en auberge à l’international, car vous êtes automatiquement membres du plus grand réseau d’auberges au monde : <strong>Hostelling International</strong> (HI). Profitez d’un sommeil paisible partout dans le monde, aux meilleurs tarifs. <a style="color: #fac000;" href="https://www.hiflanders.be/fr/hostelling-international"><strong>Découvrez ici des idées de voyages internationaux et citytrips.</strong>.</a>
    </p>
    <p>Vous préférez séjourner plus près de chez vous ? <a style="color: #fac000;" href="https://www.hiflanders.be/fr/destinations">Réservez ici votre séjour dans l’une de nos auberges en Flandre.</a> Vous cherchez d’abord de l’inspiration pour des activités autour de nos auberges ? <a style="color: #fac000;" href="https://www.hiflanders.be/fr/experiences">Grâce à notre page Expériences, vous ne serez jamais à court d’idées !</a></p>
    <p>Nous espérons vous accueillir bientôt dans l’une de nos auberges !</p>
    <p style="margin-top: 30px">Salutations ensoleillées,</p>
    <p><strong>L’équipe Hi Flanders</strong></p>
{% endblock %}