{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour  {{ name }},</p>
    <p>Merci pour votre paiement ! Nous confirmons que le montant dû a été réglé avec succès. Cet e-mail fait office de reçu de paiement.</p>
    <p><strong>Détails de votre paiement :</strong></p>
    <ul>
        <li>Montant payé : €{{total}}</li>
        <li>Date du paiement : {{ date }}</li>
    </ul>
    <p style="margin-top: 30px">Cordialement,</p>
    <p><strong>L’équipe Hi Flanders</strong></p>
{% endblock %}