{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour  {{ name }},</p>
    {{ craft.entries().section('mailings').slug('verification-ind-payed').site('usersFr').one().mailing }}
{% endblock %} 
