{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour {{ name }},</p>
    {{ craft.entries().section('mailings').slug('verification-youth').site('usersFr').one().mailing }}
{% endblock %}