{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour {{ name }},</p>
    <p style="margin-bottom: 30px">Comme on te l’a dit, Hi Flanders passe à la carte (de membre) numérique. Avec ce message, on t’invite à définir ton mot de passe pour activer ton adhésion digitale et te connecter en un clic.</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Je choisis mon mot de passe</a>
    <p style="margin-top: 40px">Voici ce que l’adhésion numérique t’apporte :</p>
    <ul>
        <li>Une expérience Hi Flanders simplifiée et plus fluide</li>
        <li>Accès direct à nos actions, événements et avantages exclusifs – bientôt via l’appli</li>
        <li>Plus besoin de carte ou de documents, tout se fait en ligne</li>
    </u>
    <p>Pas d’inquiétude pour les spams : tu choisis toi-même la fréquence de nos messages. Et bien sûr, nous protégeons tes données selon les lois en vigueur. Consulte notre <a href="www.hiflanders.be/fr/privacy-policy">politique de confidentialité </a>pour plus d’infos.</p>
    <p style="margin-top: 30px">À très vite,</p>
    <p>L’équipe Hi Flanders</p>
{% endblock %}