{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour {{ name }},</p>
    <p>Cela fait un moment que tu n’étais plus actif chez les Auberges de Jeunesse Flamandes. Entre-temps, nous sommes devenus Hi Flanders, avec un tout nouveau site et une approche 100 % digitale. Et bonne nouvelle : tu peux toujours embarquer.</p>
    <p>Si tu renouvelles ton adhésion maintenant, tu deviens membre Premium et bénéficies d’<strong>une réduction immédiate de 10 % sur ta prochaine réservation</strong>, en Belgique comme à l’étranger.</p>
    <p style="margin-bottom: 30px"><strong>Que devez-vous faire ? </strong> C’est simple : cliquez sur le button ci-dessous et inscrivez-vous en ligne en quelques clics :</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Je renouvelle mon adhésion</a>
    <ul style="margin-top: 40px">
        <li>À partir de ce moment-là, tu auras accès à  <a style="color: #fac000;" href="https://www.hiflanders.be/fr/premium">avantages exclusifs, réductions</a> et <a style="color: #fac000;" href="https://www.hiflanders.be/fr/experiences">inspirations</a> pour vos séjours chez Hi Flanders et via <a style="color: #fac000;" href="https://www.hiflanders.be/fr/hostelling-international">Hostelling International</a></li>
        <li>Tu n’as plus besoin de conserver des documents ou une carte de membre, tout se fait en ligne.</li>
        <li>•	Peur du spam ? Pas de souci ! C’est toi qui décides à quelle fréquence tu veux recevoir nos messages. Et bien entendu, nous traitons tes données de manière confidentielle et sécurisée, conformément à la législation en vigueur sur la protection de la vie privée. Consulte <a style="color: #fac000;" href="www.hiflanders.be/nl/privacy-policy">notre politique de confidentialité</a> pour plus d’informations.</li>
    </ul>
    <p><strong>Tarif</strong></p>
    <ul>
        <li>Moins de 30 ans : gratuit</li>
        <li>À partir de 31 ans : 10 € par an – facilement récupéré grâce à la réduction de 10 % sur toutes tes réservations</li>
    </ul>
    <p>Besoin d’aide ? Écris-nous à <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> ou appelle le <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> pendant les heures de bureau.</p>
    <p style="margin-top: 30px">À bientôt,</p>
    <p>L’équipe Hi Flanders</p>
{% endblock %}