{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p style="margin-bottom: 30px">Bonne nouvelle : votre adhésion premium est presque prête ! Il ne vous reste plus qu’une étape : suivre notre lien de paiement. Pour seulement 10 €, profitez pendant un an de tous les avantages Hi Flanders :</p>
    <a style="color: #102438;" class="button" href="{{ url }}">Accéder à la page de paiement</a>
    <p style="margin-top: 40px"><u><strong>Attention :</strong> effectuez votre paiement dans les 7 jours afin de garantir l’accès à votre compte.</u></p>
    <p>Une fois le paiement effectué, vous pourrez découvrir tous les avantages de votre adhésion Hi Flanders en ligne : offres <a style="color: #fac000;" href="https://www.hiflanders.be/fr/premium">exclusives, réductions</a> et <a style="color: #fac000;" href="https://www.hiflanders.be/fr/experiences">inspirations</a> pour faire de chaque séjour une expérience inoubliable !</p>
    <p>Une question ? Un problème avec le paiement ? Contactez-nous à  <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> ou par téléphone au <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> (pendant les heures de bureau).</p>
    <p style="margin-top: 30px">Chaleureusement,</p>
    <p>L’équipe Hi Flanders</p>
{% endblock %}