{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour {{ name }}</p>
    <p style="margin-bottom: 30px">La semaine dernière, nous vous avons invité à renouveler votre adhésion. Peut-être que cela vous a échappé… Mais il n’est pas trop tard ! Activez-la en quelques clics :</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Je veux rester membre de Hi Flanders !</a>
    <p style="margin-top: 40px">Pas encore convaincu(e) des avantages ? Une adhésion Premium te donne toujours droit à 10 % de réduction en plus de nos prix déjà très bas, en Belgique et à l’étranger !</p>
    <p>N’hésite plus et reste membre de notre club !</p>
    <p>Des questions ou des soucis pour renouveler ton adhésion ? Contacte-nous sans hésiter. Nous sommes là pour t’aider. Envoie un mail à <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> ou appelle le <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> pendant les heures de bureau.</p>
    <p style="margin-top: 30px">Cordialement,</p>
    <p><strong>Het Hi Flanders-team</strong></p>
{% endblock %}