{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour {{ name }},</p>
    <p style="margin-bottom: 30px">La semaine dernière, nous vous avons invité(e) à redonner vie à votre adhésion en vous inscrivant en ligne. Ainsi, vous pourrez immédiatement profiter des nombreux avantages de Hi Flanders Premium. Peut-être que cela vous a échappé, mais il n’est pas trop tard. En un seul clic, ouvrez la porte à des moments inoubliables et à de magnifiques aventures en Flandre et à l’étranger :</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Je veux mon adhésion !</a>
    <p style="margin-top: 40px">Vous hésitez encore ? Pourtant, Hi Flanders Premium, c’est :</p>
    <ul>
        <li>Un confort premium à prix mini</li>
        <li><a style="color: #fac000;" href="https://www.hiflanders.be/fr/premium"><strong>Toujours 10 % de réduction</strong></a> en plus de nos prix déjà bas</li>
        <li>Une source d’inspiration pour vos prochains séjours sur notre <a style="color: #fac000;" href="https://www.hiflanders.be/fr/experiences"><strong>page Expériences</strong></a></li>
        <li>Une adhésion automatique à  <a style="color: #fac000;" href="https://www.hiflanders.be/fr/hostelling-international"><strong>Hostelling International</strong></a>, pour économiser aussi sur vos séjours à l’étranger</li>
        <li><strong>Un accès digital simplifié :</strong> connexion facile sur notre site, et bientôt aussi via l’application Hi Flanders</li>
    </u>
    <p><strong>Combien ça coûte ?</strong></p>
    <ul>
        <li>Vous avez 30 ans ou moins ? Votre adhésion est gratuite !</li>
        <li>À partir de 31 ans : 10 € par an. Mais vous récupérez vite cette somme grâce aux réductions.</li>
    </ul>
    <p>Ne tardez plus et renouvelez votre adhésion dès maintenant !</p>
    <p>Une question ? Un problème en ligne ? Contactez-nous à <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> ou par téléphone au <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> (pendant les heures de bureau). Nous sommes là pour vous aider.</p>
    <p style="margin-top: 30px">Chaleureusement,</p>
    <p>L’équipe Hi Flanders</p>
{% endblock %}