{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour {{ name }},</p>
    <p style="margin-bottom: 30px">La semaine dernière, on t’a proposé de redonner vie à ton adhésion en te réinscrivant en ligne. Peut-être que ça t’a échappé, mais il est encore temps de profiter de tous les avantages Hi Flanders Premium.</p>
    <p>Un seul clic suffit pour débloquer des moments inoubliables, en Belgique et à l’étranger :</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Je veux mon adhésion !</a>
    <p style="margin-top: 40px">Pas encore convaincu ? Voilà pourquoi Hi Flanders Premium vaut le coup :</p>
    <ul>
        <li>Confort premium à petit prix</li>
        <li><a style="color: #fac000;" href="https://www.hiflanders.be/fr/premium"><strong> 10 % de réduction</strong></a> sur tous tes séjours</li>
        <li>De <a style="color: #fac000;" href="https://www.hiflanders.be/fr/experiences"><strong>page Expériences</strong></a>précieuse sur notre page Expériences</li>
        <li>Une adhésion <a style="color: #fac000;" href="https://www.hiflanders.be/fr/hostelling-international"><strong>Hostelling International</strong></a> incluse</li>
        <li>Une plateforme digitale facile à utiliser, bientôt avec application mobile</li>
    </u>
    <p><strong>Prix</strong></p>
    <ul>
        <li>Moins de 30 ans : gratuit</li>
        <li>À partir de 31 ans : 10 € par an – rapidement rentabilisé</li>
    </ul>
    <p>Tu as des questions ou tu rencontres des problèmes en ligne ? Nous sommes là pour t’aider. Envoie-nous un e-mail à <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> ou appelle le <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> pendant les heures de bureau.</p>
    <p style="margin-top: 30px">À bientôt,</p>
    <p>L’équipe Hi Flanders</p>
{% endblock %}