{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour {{ name }}</p>
    <p style="margin-bottom: 30px">La semaine dernière, nous vous avons invité à renouveler votre adhésion. Peut-être que cela vous a échappé… Mais il n’est pas trop tard ! Activez-la en quelques clics :</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Je veux rester membre de Hi Flanders !</a>
    <p style="margin-top: 40px">Pas encore convaincu(e) des avantages ? Avec une adhésion premium<strong>d’une réduction de 10 % </strong>sur nos prix déjà bas, en Flandre et à l’étranger ! Ne tardez plus et restez membre de notre club !</p>
    <p>Une question ? Un problème pour renouveler votre adhésion ? Contactez-nous à  <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> ou appelez le <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> pendant les heures de bureau.</p>
    <p style="margin-top: 30px">Salutations hospitalières,,</p>
    <p><strong>Het Hi Flanders-team</strong></p>
{% endblock %}