{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour {{ name }},</p>
    <p>La semaine dernière, on t’a demandé d’activer ton adhésion digitale en choisissant un mot de passe. Peut-être que ça t’a échappé, mais il n’est pas trop tard pour redevenir <strong>membre Premium</strong>. Active ton adhésion en un clic :</p>
    <p style="margin-bottom: 30px">Activez-la en un clic :</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Je choisis un mot de passe</a>
    <p style="margin-top: 40px">Petit rappel :</p>
    <ul>
        <li>Tu profites <a style="color: #fac000;" href="https://www.hiflanders.be/fr/premium">d’avantages exclusifs, de réductions</a> et <a style="color: #fac000;" href="https://www.hiflanders.be/fr/experiences">d’inspiration</a> pour tes séjours futurss.</li>
        <li><strong>Tu décides</strong> à quelle fréquence tu veux recevoir nos messages</li>
        <li>Tout est en ligne, sans papiers ni carte à garder</li>
        <li>Tes données sont protégées et traitées <a style="color: #fac000;" href="www.hiflanders.be/fr/privacy-policy">en toute confidentialité</a></li>
    </u>
    <p>Tu as des questions ou tu rencontres des problèmes en ligne ? Nous sommes là pour t’aider. Envoie-nous un e-mail à <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> ou appelle le <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> pendant les heures de bureau.</p>
    <p style="margin-top: 30px">À bientôt,,</p>
    <p>L’équipe Hi Flanders</p>
{% endblock %}