{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p>It has already been a year since we welcomed you to the Hi Flanders community. In the meantime, your membership has expired. But no worries—you can continue enjoying all the benefits by renewing now!</p>
    <p style="margin-bottom: 30px">For everyone’s convenience, we have fully digitalized our membership. With just a few clicks, you can reactivate your premium membership:</p>
    <a class="button" href="{{ url }}">I don’t want to miss out on any benefits!</a>
    <p style="margin-top: 40px"><strong>What are those benefits again? Hi Flanders Premium means:</strong></p>
    <ul>
        <li>Premium comfort at the lowest price</li>
        <li><a style="color: #fac000;" href="https://www.hiflanders.be/nl/premium">Extra discounts </a> on top of our already low rates</li>
        <li>Valuable inspiration for future stays on our <a style="color: #fac000;" href="https://www.hiflanders.be/en/experiences">Experiences page</a></li>
        <li>Automatic membership with Hostelling International, giving you discounts on hostel stays worldwide. <a style="color: #fac000;" href="https://www.hiflanders.be/nl/hostelling-international">Find inspiration here</a></li>
        <li>Digital convenience: easy login on our website, and soon via the Hi Flanders appp</li>
    </ul>
    <p><u>Need help?</u></p>
    <p>Do you have any questions or trouble renewing your membership? Feel free to contact us at <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> or call <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> during office hours. We’re happy to assist!</p>
    <p style="margin-top: 30px">Warm regards,</p>
    <p><strong>The Hi Flanders Team</strong></p>
{% endblock %}