{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p style="margin-bottom: 30px">Vorige week vroegen we jou om je lidmaatschap nieuw leven in te blazen door je digitaal te registreren. Zo kan je meteen profiteren van de vele voordelen van Hi Flanders Premium. Misschien ben je dit uit het oog verloren, maar het is nog niet te laat. Met 1 klik open je de deuren voor onvergetelijke momenten en prachtige avonturen in binnen- en buitenland:</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Kom hier met dat lidmaatschap!</a>
    <p style="margin-top: 40px">Of ben je nog niet overtuigd dat een lidmaatschap een slimme keuze is? Toch wel, want Hi Flanders Premium, dat is:</p>
    <ul>
        <li>Premium comfort tegen een minimumprijs</li>
        <li><a style="color: #fac000;" href="https://www.hiflanders.be/nl/premium"><strong>Altijd 10% korting</strong></a>  bovenop onze lage prijzen</li>
        <li>Waardevolle inspiratie voor toekomstige verblijven op onze <a style="color: #fac000;" href="https://www.hiflanders.be/nl/belevingen"><strong>belevingspagina</strong></a></li>
        <li>Je bent automatisch ook lid van <a style="color: #fac000;" href="https://www.hiflanders.be/nl/hostelling-international"><strong>Hostelling International</strong></a>. Zo bespaar je ook in het buitenland op hostelverblijven.</li>
        <li><strong>Digitaal gemak:</strong> eenvoudig inloggen op onze site, en binnenkort ook met de Hi Flanders-app</li>
    </u>
    <p>Twijfel dus niet langer en hernieuw meteen je lidmaatschap!</p>
    <p><strong>Wat kost dat?</strong></p>
    <ul>
        <li>Ben je 30 jaar of jonger? Je lidmaatschap is gratis!</li>
        <li>Vanaf 31 jaar: € 10 per jaar. Maar dat verdien je dubbel en dik terug dankzij de kortingen.</li>
    </ul>
    <p>Heb je vragen of ondervind je problemen online? Dan helpen we je graag verder. Mail naar <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> of bel <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> tijdens de kantooruren.</p>
    <p style="margin-top: 30px">Warme groet,</p>
    <p>Het Hi Flanders-team</p>
{% endblock %}