{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p style="margin-bottom: 30px">
        Goed nieuws: je aanvraag tot registratie van een groep werd goedgekeurd. Omdat het hier gaat om een groepering binnen het jeugdwerk, hebben jullie recht op een GRATIS lidmaatschap.<br>
        Activeer nu met 1 klik:
    </p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Ik kies een wachtwoord</a>
    <p style="margin-top: 40px">Activeer je lidmaatschap binnen 7 dagen om zeker te zijn van toegang tot het account.</p>
    <p><u>Extra info:</u></p>
    <ul>
        <li><strong>Waarom moet ik dit doen?</strong> We hebben deze bevestiging nodig om je registratie als lid te vervolledigen. Zo wordt je toekomstige ervaring bij Hi Flanders een pak gebruiksvriendelijker.</li>
        <li>Als lid van Hi Flanders geniet je van <a style="color: #fac000;" href="https://www.hiflanders.be/nl/premium">exclusieve voordelen</a>, kortingen en <a style="color: #fac000;" href="https://www.hiflanders.be/nl/belevingen">inspiratie</a> voor toekomstige verblijven. Maar we gaan je niet om de haverklap bestoken met mails. <strong>Jij houdt de controle</strong> en kiest hoe vaak je van ons wil horen.</li>
        <li>We behandelen jouw gegevens uiteraard vertrouwelijk en veilig, volgens de geldende privacywetgeving. Bekijk onze <a style="color: #fac000;" href="https://www.hiflanders.be/nl/privacy-policy">privacy policy</a> voor meer info.</li>
    </ul>
    <p>Heb je vragen of lukt het niet om je lidmaatschap te activeren? Neem dan gerust contact met ons op. We helpen je graag verder. Mail naar <a style="color: #fac000;" href="mailto:premium@hiflanders.be">premium@hiflanders.be</a> of bel <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> tijdens de kantooruren.</p>
    <p>Tot binnenkort in een van onze hostels?</p>
    <p style="margin-top: 30px">Warme groet,</p>
    <p><strong>Het Hi Flanders-team</strong></p>
{% endblock %}