@use "../abstracts" as *;

.grid {
    width: 100%;
    height: 100%;
    max-width: $screen-xxl;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: fit-content;
    gap: 1.5rem;
    align-items: flex-start;

    @include screen($screen-l) {
        grid-template-columns: repeat(3, 1fr);
    }

    &__left, &__right {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__left {
        @include screen($screen-l) {
            grid-column:  span 2;
        }
    }
}