<div class="box box--small">
    <div class="box__heading">
        <h1>{{ entry.title }}</h1>
    </div>
    <div class="box__content">
        <div class="box__text">
            {{ entry.textSimple }}
        </div>
    </div>
</div>