{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p>Jij bent al enige tijd Premium lid van Hi Flanders, super! Tot nu toe was je lidmaatschap volledig gratis. Vanaf 31 jaar bedraagt lidmaatschap € 10 per jaar. Geen paniek, dat verdien je dubbel en dik terug dankzij de <a href="https://www.hiflanders.be/nl/premium">korting van 10% op al je boekingen</a>.</p>
    <p style="margin-bottom: 30px">Dus, klaar om weer een gans jaar te genieten van exclusieve voordelen?</p>
    <a class="button" href="{{ url }}">Vernieuw hier je lidmaatschap</a>
    <p style="margin-top: 40px">Heb je vragen of lukt het niet om je lidmaatschap te vernieuwen? Neem dan gerust contact met ons op. We helpen je graag verder. Mail naar <a style="color: #fac000;" href="mailto:premium@hiflanders.be">premium@hiflanders.be</a> of bel <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> tijdens de kantooruren.</p>
    <p>Tot binnenkort in een van onze hostels?</p>
    <p style="margin-top: 30px">Warme groet,</p>
    <p>Het Hi Flanders-team</p>
{% endblock %}