{% extends "email/base.twig" %}
{% block content %}
    <p>Bonjour  {{ name }},</p>
    <p>Cela fait déjà un an que nous vous avons accueilli dans la communauté Hi Flanders. Entre-temps, votre adhésion a expiré. Mais pas de panique : vous pouvez continuer à profiter de tous les avantages en renouvelant dès maintenant votre adhésion ! Nous avons entièrement digitalisé le processus, alors en quelques clics, votre adhésion premium est réglée :</p>
    <p style="margin-bottom: 30px">Voor ieders gemak zijn we intussen volledig gedigitaliseerd, dus met enkele klikken is jouw premium lidmaatschap gefixt:</p>
    <a class="button" href="{{ url }}">Je ne veux manquer aucun avantage !</a>
    <p style="margin-top: 40px"><strong>Quels sont ces avantages déjà ? Avec Hi Flanders Premium, vous bénéficiez de :</strong></p>
    <ul>
        <li>Un confort premium à prix mini</li>
        <li>Des <a style="color: #fac000;" href="https://www.hiflanders.be/fr/premium">réductions supplémentaires</a> en plus de nos prix déjà bas</li>
        <li>De l’inspiration pour vos futurs séjours sur <a style="color: #fac000;" href="https://www.hiflanders.be/nl/belevingen">notre page Expériences</a></li>
        <li>Une adhésion automatique à Hostelling International, pour économiser aussi sur vos séjours à l’étranger. <a style="color: #fac000;" href="https://www.hiflanders.be/nl/hostelling-international">Trouvez ici des idées de voyages</a></li>
        <li>Un accès digital simplifié : connexion facile sur notre site, et bientôt aussi via l’application Hi Flanders</li>
    </ul>
    <p>Ne tardez plus et restez membre de notre club !/p>
    <p>Une question ? Besoin d’aide pour renouveler votre adhésion ? Contactez-nous à <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> ou par téléphone au <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> (pendant les heures de bureau).</p>
    <p style="margin-top: 30px">Chaleureusement,</p>
    <p>L’équipe Hi Flanders</p>
{% endblock %}
