{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p style="margin-bottom: 30px">As mentioned, Hi Flanders is switching to a digital (membership) card. In this message, we ask you to set a password to activate your digital membership and log in with just one click.</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Set my password</a>
    <p style="margin-top: 40px">Here’s what a digital membership offers:</p>
    <ul>
        <li>A smoother experience with Hi Flanders</li>
        <li>Direct updates on actions, events, and member-only benefits – soon via the app</li>
        <li>No paperwork or cards – everything is online</li>
    </u>
    <p>Don’t worry about spam – you decide how often we contact you. Your data is safe with us and handled in line with privacy laws. Read our  <a style="color: #fac000;" href="www.hiflanders.be/en/privacy-policy">privacy policy</a> for details.</p>
    <p style="margin-top: 30px">See you soon,</p>
    <p>The Hi Flanders Team</p>
{% endblock %}