{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p>It’s been a while since you were active with Flemish Youth Hostels. In the meantime, we’ve become Hi Flanders – with a brand-new website and a fully digital approach. And the good news? You can still hop on board.</p>
    <p>If you renew your membership now, you’ll become a Premium member and immediately <strong>get 10% off your next booking</strong>, both in Belgium and abroad.</p>
    <p style="margin-bottom: 30px">Just click the button below and register in a few easy steps.</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">Renew my membership</a>
    <p style="margin-top: 40px">Your renewed membership gives you access to:</p>
    <ul>
        <li>From that moment on, you'll have access to <a style="color: #fac000;" href="https://www.hiflanders.be/en/premium">exclusive benefits, discounts</a>, and <a href="https://www.hiflanders.be/en/experiences">travel inspiration</a> through Hi Flanders as well as Hostelling International.</li>
        <li>There’s no need to keep track of paperwork or a membership card anymore – everything is handled online.</li>
        <li>Worried about spam? No need! You’re in control and decide how often you want to hear from us. And of course, we handle your data confidentially and securely, in accordance with current privacy legislation. Check our <a style="color: #fac000;" href="https://www.hiflanders.be/en/privacy-policy">privacy policy</a> for more information.</li>
    </ul>
    <p><strong>Cost</strong></p>
    <ul>
        <li>Under 30? Membership is free</li>
        <li>From 31? € 10 per year – easily earned back with the 10% booking discount</li>
    </ul>
    <p>Questions? Need help? Email us at <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> or call <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> during office hours.</p>
    <p style="margin-top: 30px">See you soon,</p>
    <p>The Hi Flanders Team</p>
{% endblock %}