{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p style="margin-bottom: 30px">Good news: your premium membership is almost complete! The last step is to follow the payment link. For just €10, you can enjoy all the benefits of Hi Flanders for a whole year:</p>
    <a style="color: #102438;" class="button" href="{{ url }}">To the payment page</a>
    <p style="margin-top: 40px"><u>Please complete the payment within 7 days to ensure uninterrupted access to your account.</u></p>
    <p>Once your payment is processed, you’ll have full access to all the <a style="color: #fac000;" href="https://www.hiflanders.be/en/premium">exclusive benefits and discounts,</a> and <a style="color: #fac000;" href="https://www.hiflanders.be/en/experiences">plenty of inspiration</a> that make every trip with Hi Flanders an unforgettable experience!</p>
    <p><strong>Need help?</strong></p>
    <p>If you have any questions or encounter issues with the payment, don’t hesitate to reach out at <a style="color: #fac000;" href="mailto:premium@hiflanders.be">premium@hiflanders.be</a> or call <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> during office hours.</p>
    <p style="margin-top: 30px">Warm regards,</p>
    <p><strong>The Hi Flanders Team</strong></p>
{% endblock %}