{% extends "email/base.twig" %}
{% block content %}
    <p>Hi {{ name }},</p>
    <p style="margin-bottom: 30px">Last week, we told you that Hi Flanders is going fully digital. In this email, we invite you to set up your password to activate your digital membership and log in with just one click from now on:</p>
    <a style="color: #102438;" class="button" href="{{ activationUrl }}">I set my password</a>
    <p style="margin-top: 40px">Here’s a reminder of the benefits of your online membership:</p>
    <ul>
        <li>Your Hi Flanders experience will be even more user-friendly</li>
        <li>You’ll instantly receive updates on our exclusive deals, events, and member perks—soon even via the Hi Flanders app!</li>
        <li>No more paperwork or physical membership card—everything is digital and easy to access</li>
    </u>
    <p>Worried about spam? No need! You stay in control and decide how often you hear from us. Plus, we handle your data securely and confidentially in compliance with privacy laws. Check our <a style="color: #fac000;" href="www.hiflanders.be/nl/privacy-policy">privacy policy</a> for more details.</p>
    <p>Psst, have you seen <a style="color: #fac000;" href="https://www.hiflanders.be/nl/home">our new website</a> yet? Get inspired by our <a style="color: #fac000;" href="https://www.hiflanders.be/en/experiences">Experiences page</a> and start planning your next trip today!</p>
    <p>Do you have any questions or trouble setting up your password? Feel free to contact us at <a style="color: #fac000;" href="mailto:hi@hiflanders.be">hi@hiflanders.be</a> or call <a style="color: #fac000;" href="tel:+3232327218">+32 3 232 72 18</a> during office hours. We’re happy to assist!</p>
    <p style="margin-top: 30px">Warm regards & hope to see you soon,</p>
    <p>The Hi Flanders Team</p>
{% endblock %}