<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light only">
        <title>{{ subject ?? 'Email' }}</title>
        <style>
            p {
                color: #102438;
            }
            a {
                color: #fac000;
            }
            .button {
                background-color: #FFCC22;
                color: #102438;
                padding: 14px 26.4px;
                font-weight: bold;
                border-radius: 160px;
                text-decoration: none;
            }
        </style>
    </head>
    <body style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; color: #102438; margin: 20px;">
        <div style="margin-top: 20px; margin-bottom: 40px; text-align: left;">
            <img  src="https://assets.postmarkapp.com/packs/images/application/logo-84e5b009.svg" alt="logo hi flanders" width="200" height="auto" style="display: block; border: 0;">
        </div>
        <div style="text-align: left;">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
